//- This file contains all @font-face declarations.
@font-face {
  font-family: 'Heebo';
  font-weight: map-get($text-font-weight, normal);
  src: url($font-url + 'Heebo/Heebo-Regular.ttf');
}

@font-face {
  font-family: 'Heebo';
  font-weight: map-get($text-font-weight, bold);
  src: url($font-url + 'Heebo/Heebo-Medium.ttf');
}

@font-face {
  font-family: 'Heebo';
  font-weight: map-get($text-font-weight, extra-bold);
  src: url($font-url + 'Heebo/Heebo-ExtraBold.ttf');
}