//- Basic typography style
body {
  color: $text-color;
  font: map-get($text-font-weight, normal) 62.5% / #{map-get($text-font-height, generic)} $text-font-stack; //- 62.5% makes 'em' unit computed as 10px; 125% makes 'em' units computed as 20px;
}

//- Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: map-get($text-font-weight, bold);
  line-height: map-get($text-font-height, heading);
}

h1 {
  @include media('<=mobile') {
    font-size: map-get($heading-1-size, small);
  }

  @include media('>mobile', '<=laptop') {
    font-size: map-get($heading-1-size, medium);
  }

  @include media('>laptop') {
    font-size: map-get($heading-1-size, large);
  }
}

h2 {
  @include media('<=mobile') {
    font-size: map-get($heading-2-size, small);
  }

  @include media('>mobile', '<=laptop') {
    font-size: map-get($heading-2-size, medium);
  }

  @include media('>laptop') {
    font-size: map-get($heading-2-size, large);    
  }
}

h3 {
  font-size: $heading-font-3;
}

h4 {
  font-size: $heading-font-4;
}

h5 {
  font-size: $heading-font-5;
}

h6 {
  font-size: $heading-font-6;
}

p {
  @include media('<=mobile') {
    font-size: map-get($parragraph, small)
  }

  @include media('>mobile', '<=laptop') {
    font-size: map-get($parragraph, medium)
  }

  @include media('>laptop') {
    font-size: map-get($parragraph, large)
  }
}