//- This file contains all layout mixins

@mixin column-width($max-width) {
  max-width: $max-width;
}

@mixin landing-inline-margins($margin-inline-start) {
  margin-inline-end: auto;
  margin-inline-start: $margin-inline-start;
}