//- Fonts variables

//- Regular font family
/// @type List
$text-font-stack: 'Barlow', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$text-font-weight: (
  normal: 400,
  bold: 700
);

$text-font-height: (
  generic: 1.6,
  heading: 1.4
);


//- Set heading font-size
$heading-1-size : (
  small: 4em,
  medium: 6em,
  large: 8em
);
$heading-2-size: (
  small: 2.5em,
  medium: 3em,
  large: 3.4em
);
$heading-font-3: 1.75em;
$heading-font-4: 1.5em;
$heading-font-5: 1.25em;
$heading-font-6: 1em;

$parragraph: (
  small: 1.8em,
  medium: 2em,
  large: 2em
);